#s-08d859ed-012b-492e-87b8-13edd465337d #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-08d859ed-012b-492e-87b8-13edd465337d #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-08d859ed-012b-492e-87b8-13edd465337d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}