#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}