#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Image_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8403d56b-9dcd-4f8f-b204-bb9e24fb3311 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}