#s-bbe846c5-daed-46ce-a64f-e7c0823b4bda #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe846c5-daed-46ce-a64f-e7c0823b4bda #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe846c5-daed-46ce-a64f-e7c0823b4bda #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe846c5-daed-46ce-a64f-e7c0823b4bda #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe846c5-daed-46ce-a64f-e7c0823b4bda #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe846c5-daed-46ce-a64f-e7c0823b4bda #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe846c5-daed-46ce-a64f-e7c0823b4bda #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe846c5-daed-46ce-a64f-e7c0823b4bda #s-Image_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe846c5-daed-46ce-a64f-e7c0823b4bda #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe846c5-daed-46ce-a64f-e7c0823b4bda #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe846c5-daed-46ce-a64f-e7c0823b4bda #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bbe846c5-daed-46ce-a64f-e7c0823b4bda > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}