<ion-header>
        <ion-navbar color="primary">
            <ion-title style="text-align:center;">
                <ion-icon name="clipboard"></ion-icon> Quesioner
            </ion-title>
            <ion-buttons end>
                <button ion-button (click)="openMenu()" icon-only>
                    <ion-icon name="information-circle"></ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
</ion-header>

<ion-content padding >
    <div *ngIf="!loading" >
        <div *ngIf="berhasil">
            <ion-list  radio-group *ngFor="let pr of quesioner; let i=index" [(ngModel)]="answertemp[i]">
                <p>
                    {{pr.pertanyaan}}
                </p>
                <ion-item itemid="pr.kode" *ngFor="let jwb of pr.jawaban">
                <ion-label>{{jwb.nama_gejala}}</ion-label>
                <ion-radio value="{{jwb.kode_gejala}}"></ion-radio>
                </ion-item>
            </ion-list>
    
            <div style="text-align:center;">
                <button ion-button round class="center" (click)="submitQuesioner()">Submit</button>
            </div>
        </div>
        <div *ngIf="!berhasil" ><h2 class="center">Gagal Load Data</h2></div>
    </div>
    <div *ngIf="loading" class="center">
        <div class="loader" ></div>
        <h2 >Loading Quesioner..</h2>
    </div>
</ion-content>
