<ion-header>
  <ion-navbar color="primary">
    <ion-title style="text-align:center;">
      <ion-icon name="ios-book"></ion-icon>  Over View
    </ion-title>
    <ion-buttons end>
        <button ion-button (click)="openMenu()" icon-only>
            <ion-icon name="information-circle"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="slide-page">
  <ion-slides pager>
    <ion-slide *ngFor="let slide of overview">
      <img *ngIf="slide.image!=null" [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <h5 [innerHTML]="slide.description"></h5>
    </ion-slide>
  </ion-slides>
</ion-content>
